streamlit
torch
torchvision
numpy
Pillow
opencv-python-headless
pytorch-grad-cam
matplotlib
scipy
altair==5.3.0
anyio==4.4.0
...
markdown-it-py==3.0.0
matplotlib==3.9.1
mdurl==0.1.2
...
numpy==1.26.4
opencv-python-headless==4.10.0.84
...
Pillow==10.4.0
protobuf==4.25.3
pytorch-grad-cam==0.3.2
pygments==2.18.0
...
rich==13.7.1
scipy==1.14.0
streamlit==1.36.0
...
torch==2.3.1
torchvision==0.18.1
...
typing_extensions==4.12.2
tzdata==2024.1
# and many more...
